/TestHello/.vs/TestHello/v16/.suo
/TestHello/.vs/TestHello/v16/Server/sqlite3/db.lock
/TestHello/.vs/TestHello/v16/Server/sqlite3/storage.ide
/TestHello/.vs/TestHello/v16/Server/sqlite3/storage.ide-shm
/TestHello/.vs/TestHello/v16/Server/sqlite3/storage.ide-wal
/TestHello/TestHello/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TestHello/TestHello/obj/Debug/TestHello.csproj.CoreCompileInputs.cache
/TestHello/TestHello/obj/Debug/TestHello.csproj.FileListAbsolute.txt
/TestHello/TestHello/obj/Debug/TestHello.csprojAssemblyReference.cache
/TestHello/TestHello/obj/Debug/TestHello.dll
/TestHello/TestHello/obj/Debug/TestHello.pdb
